---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = 'Главная';
const title = 'Astro';
const title2 = 'Turbo';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Мой сайт на Astro</h1>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum, impedit sit
    corporis, sed quidem mollitia deleniti tempore eos incidunt repellat nihil. Ipsa,
    nostrum inventore blanditiis ex aspernatur quibusdam aperiam!
  </p>

  <h2>{title}</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eum, impedit sit
    corporis, sed quidem mollitia deleniti tempore eos incidunt repellat nihil. Ipsa,
    nostrum inventore blanditiis ex aspernatur quibusdam aperiam!
  </p>

  <h3>{title2}</h3>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minus, iusto illo, omnis
    officiis molestiae, quasi dolore natus adipisci saepe qui possimus optio eius? Commodi
    accusamus rerum quia tenetur possimus.
  </div>
</BaseLayout>
